# common CV tasks
opencv-python
# for using YOLO
ultralytics 
# for reading texts
paddlepaddle 
paddleocr
# to stablish connection
mysql-connector-python
# for web-app
flask
# for environment files
python-dotenv 
# YOLO-v8 dependency
omegaconf
lap